<body style="background-color: #1C1C1C;">
<style type="text/css">
#mydiv {
    position:absolute;
    top: 50%;
    left: 50%;
    width:30em;
    height:9em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    border-radius: 15px;
}

</style>


<div id="mydiv"><center>

<p><b> This is a URL shortener/redirector I coded in 30 minutes. </p>

<form action="/data/" method = "POST">
    <p>URL to shorten <br><input type = "text" name = "Field1_name" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>
<style type="text/css"></div>
